# Default ignored files
/shelf/
/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/chip8_core/Cargo.lock
/chip8_core/target/
/desktop/target/
/wasm/target/
/wasm/Cargo.lock

/wasm/pkg/package.json
/wasm/pkg/wasm.d.ts
/wasm/pkg/wasm.js
/wasm/pkg/wasm_bg.wasm
/wasm/pkg/wasm_bg.wasm.d.ts
/web/wasm_bg.wasm
/web/wasm.js
